body {
    left:250px;
    right:250px;
}

#banner {
    display:flex;
    z-index:-1;
    background-color:#D0F040;
}

#header #banner h1 {
    font-family: 'Pinyon Script', cursive;
    font-size:100px;
    color:white;
    text-shadow:2px 2px #000000;
}

#header #banner img {
    height:150px;
}

.searchBar {
    background-color:#D0F040;
    padding-left:300px;
}

.navbar-nav{
    background-color:#D0F040;
}
.container {
    margin-top:20px;
}
.table img {
	width:170px;
	height:170px;
}

.table {
    width:auto;
    border:0;
}

.videos iframe {
	display:flex;
    flex-direction:column;
	top:150px;
	margin-left:250px;
	width:640px;
	height:480px;
	margin-bottom:100px;
}

#footer{
    margin-top:250px;
}



@media screen and (max-width: 768px) {
    body {
        left:50px;
    }

    .searchBar {
    margin-top: 0px;
    margin-left:20px;
}

     .container h1 {
        font-size:22px;
    }

       Li {
        font-size:14px;
    }

    .nav {
        padding:2px;
    }

    .table img {
	width:80px;
	height:80px;
    }
    .table {
        margin-left:10px;
        width:auto;
        border:0;
    }

    td h2 {
        font-size:14px;
    }

    .videos iframe{
	display:flex;
    flex-direction:column;
	top:150px;
	margin-left:0;
	width:480px;
	height:320px;
	margin-bottom:100px;
	}
}

@media screen and (max-width: 560px) {
    body {
        left:20px;
    }

    .container h1 {
        font-size:16px;
    }

    .searchBar {
        padding-left: 0px;
        margin-top:0px;
    }

       Li {
        font-size:14px;
    }

    .nav {
        padding:2px;
    }

    .table img {
	width:80px;
	height:80px;
    }
    .table {
        margin-left:10px;
        width:auto;
        border:0;
    }

    td h2 {
        font-size:14px;
    }

    .videos iframe{
	display:flex;
    flex-direction:column;
	top:150px;
	margin-left:0;
	width:480px;
	height:320px;
	margin-bottom:100px;
	}
}

@media screen and (max-width: 320px) {
    body {
        left:2px;
    }

    #header #banner h1 {
    font-size:50px;
}

    .searchBar {
        margin-top:0px;
        padding-left: 0px;
    }

    .container h1 {
        font-size:14px;
    }

    Li {
        font-size:12px;
    }

    .table img {
	width:50px;
	height:50px;
    }
    .table {
        margin-left:2px;
        width:auto;
        border:0;
    }

    td h2 {
        font-size:12px;
    }

    td h3 {
        font-size:14px;
    }

    tr td {
        font-size:10px;
    }

    .videos iframe {
	display:flex;
    flex-direction:column;
	top:150px;
	margin-left:-30px;
	width:auto;
	height:240px;
	margin-bottom:50px;
	}
}