<div class="container home">
	<div class="header gradient">
		<h1>The Cooking Guide - Welcome</h1>
	</div>
	<div class="content">
		<h1>Register NOW for free news letter featuring -</h1>
		<ul>
			<li>Updates to the website</li>
			<li>Opening of the shop</li>
			<li>New recipes and video content</li>
			<li>Cooking utensils</li>
			<li>More tips on food</li>
		</ul>
		<br>
		<user-status></user-status>
		<!-- TODO -->
		<!-- add the following -->
		<!--Account status: show if user is logged in-->
		<!--Add a check box so user can un-apply or re-apply for the newsletter-->
		<!-- use {{ account status}} and {{ checkbox }} to bind this data to controller in the UserStatusDirective-->	
	</div>
</div>
