<div ng-controller="HowToController" class="container instructions">

		<h1>How To Cook:</h1>

    <div>
        <table class="table">
            <tbody data-ng-repeat="recipe in cookingInstructions | filter:search | orderBy:'dish'">
                <tr>
                    <td><h2>{{recipe.name.dish}}</h2></td>
                    <td><img ng-src="/img/{{recipe.image}}"></td>
                </tr>
                <tr>
                    <td><h3>Ingredients</h3></td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i1}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i2}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i3}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i4}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i5}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i6}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i7}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i8}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i9}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i10}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i11}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i12}}</td>
                </tr>
                <tr>
                    <td>{{recipe.ingredients.i13}}</td>
                </tr>
                <tr>
                    <td><h3>Method</h3></td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s1}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s2}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s3}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s4}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s5}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s6}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s7}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s8}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s9}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s10}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s11}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s12}}</td>
                </tr>
                <tr>
                    <td>{{recipe.cooking_method.s13}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
