<div class="container howTo">
	<div class="header gradient">
		<h1>How to - Cooking instructions</h1>
	</div>
	<div class="content">
		<div id="baked_salmon_with_herbs">
			<div>
				<h2>Baked salmon with herbs</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
	<div id="apple_pie">
			<div>
				<h2>Apple pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>	
	<div id="minestrone_soup">
			<div>
				<h2>Minestrone soup</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
	<div id="roast_beef">
			<div>
				<h2>Roast beef</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="custard_tart">
			<div>
				<h2>Custard tart</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="mince_pie">
			<div>
				<h2>Mince pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chicken_curry">
			<div>
				<h2>Chicken curry</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="spagetti_bolognese">
			<div>
				<h2>Spagetti bolognese</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="prawn_salad">
			<div>
				<h2>Prawn salad</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_and_bacon_quiche">
			<div>
				<h2>Cheese and bacon quiche</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="carrot_soup">
			<div>
				<h2>Carrot soup</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="orange_pancakes">
			<div>
				<h2>Orange pancakes</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="shepards_pie">
			<div>
				<h2>Shepards pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_toasties">
			<div>
				<h2>Cheese toasties</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chocolate_icecream">
			<div>
				<h2>Chocolate icecream</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="Baked_potato">
			<div>
				<h2>Baked potato</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="vegetable_salad">
			<div>
				<h2>Vegetable salad</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="puff_pastries">
			<div>
				<h2>Puff pastries</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="shortbread_biscuits">
			<div>
				<h2>Shortbread biscuits</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="omelette">
			<div>
				<h2>Cheese and onion omelette</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chicken_kebab">
			<div>
				<h2>Chicken kebabs</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_cake">
			<div>
				<h2>Cheese cake</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
	</div>
</div>