<!--Recipes copied from - http://www.bbc.co.uk/food/recipes/-->
<div class="container howTo">
	<div class="header gradient">
		<h1>How to - Cooking instructions</h1>
	</div>
	<div class="content">
		<div id="baked_salmon_with_herbs">
			<div>
				<h2>Baked salmon with herbs</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1. Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2. Sprinkle with dried basil, salt and pepper</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3. Top with lemon slices</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4. Cover tightly with foil.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5. Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
	<div id="apple_pie">
			<div>
				<h2>Apple pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>255g/9oz plain flour</li>
					<li>pinch of salt</li>
					<li>140g/5oz hard margarine or butter</li>
					<li>teaspoon cold water</li>
					<li>3 large Bramley cooking apples, chopped, stewed and cooled</li>
					<li>sugar, add to taste</li>
				</ul>
			</div>
			<div>
				<div class="howToImages">
				<!--<img ng-src="img/baked_salmon_with_herbs1.jpg">-->   <!--Images need to be added and positioned-->
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1. Preheat the oven to 200C/400F/Gas 6.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2. Sieve the flour and salt into a bowl.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3. Rub in the margarine or butter until the mixture resembles fine breadcrumbs.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4. Add the cold water to the flour mixture. Using a knife, mix the water into</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspthe flour, using your hand to firm up the mixture. The pastry should be of an</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspeven colour and suitable consistency for rolling.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5. Divide the pastry into two halves. Take one half and roll it out so that it is big</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspenough to cover an 20cm/8in enamel or aluminium plate. Trim the edges with a knife</p> 
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspusing the edge of the plate as your guide.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp6. Cover the pastry with the stewed apples and sprinkle with sugar to taste.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp7. Roll out the other half of the pastry. Moisten the edge of the bottom layer of</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsppastry and place the second piece on top.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp8. Press down on the pastry edges, making sure that they are properly sealed.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTrim off any excess pastry with a knife in a downward motion, again using the plate</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspasyour guide.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9. Flute the edges with a pinching action using your fingers and thumb.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10.Prick the surface of the pastry lightly before placing the pie in the oven.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCook for 20-30 minutes.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp12.Slide on to a serving plate, dust with caster sugar and serve.</p>
		</div>
		<br>
		<br>	
	<div id="minestrone_soup">
		<div>
			<h2>Minestrone soup</h2>
			<h3>Ingredients:</h3>
			<ul>
				<li>1 teaspoon of olive oil</li>
				<li>200g/7oz streaky bacon or lean back-bacon, rind removed, finely chopped</li>
				<li>2 large carrots, peeled and roughly chopped</li>
				<li>6 garlic cloves, thinly sliced</li>
				<li>2 onions, roughly chopped</li>
				<li>2 potatoes, such as Maris Peer potatoes, roughly chopped</li>
				<li>1 tbsp tomato purée</li>
				<li>400g tin chopped tomatoes</li>
				<li>0.75 litres/1½ pints reduced-salt vegetable stock</li>
				<li>3 courgettes, trimmed and roughly chopped</li>
				<li>1 large handful soup pasta</li>
				<li>1 handful fresh flatleaf parsley, leaves finely chopped</li>
				<li>100g/3½oz Parmesan, finely grated</li>
			</ul>
		</div>
		<div>
			<h3>Method:</h3>
			<p>1. Heat the oil in a large saucepan over a medium heat. Add the</p>
			<p>bacon and fry for 2-3 minutes, or until cooked and starting to brown.</p>
			<p>2. Add the carrots, garlic and onions and fry for 4-5 minutes.</p>
			<p>3. Add the potatoes and fry for 4-5 minutes, stirring occasionally, until softened</p>
			<p>3.Stir in the tomato purée and cook for 1 minute, then add the tomatoes,</p>
			<p>bouquet garni and stock and bring to the boil. Reduce the heat, then simmer gently for 30 minutes.</p>
			<p>4.Add the courgettes and soup pasta and return to the boil. Reduce the heat,</p>
			<p>cover the pan with the lid, then simmer for 5-8 minutes, or until the pasta is tender.</p>
			<p>Discard the bouquet garni.</p>
			<p>5.To serve, ladle the soup into bowls, then sprinkle over the parsley and Parmesan.</p>
		</div>
		<br>
		<br>
	<div id="roast_beef">
		<div>
			<h2>Roast beef</h2>
			<h3>Ingredients:</h3>
			<ul>
				<li>2.75kg/6lb 2oz whole beef sirloin, fat and sinew trimmed</li>
				<li>250g/9oz beef dripping or lard</li>
			</ul>
		</div>
		<div>
			<h3>Method:</h3>
			<p>1. Prepare the beef. Preheat the oven to 200C/180C Fan/Gas 6.</p>
			<p>2. Score the fat of the beef in a criss-cross pattern using a</p>
			<p>sharp knife, then season the beef generously with salt and pepper.</p>
			<p>3.Heat a frying pan over a high heat. When the pan is very hot,</p>
			<p>add 25g/1oz of the beef dripping and, when it has melted, fry the beef</p>
			<p>on all sides until browned all over.</p>
			<p>4. Place the beef joint, fat side facing downwards, into a roasting tray and roast for</p>
			<p>45-50 minutes (for medium-rare) or longer until cooked to your liking – although bear</p>
			<p>in mind that the meat will continue to cook as it rests. Turn the beef joint halfway</p>
			<p>through the cooking time. When the beef is cooked to your liking, transfer it to a large</p>
			<p>plate, cover with aluminium foil and set aside to rest for 30 minutes.</p>
			<p>5.Serve the beef on a platter, surrounded by roast potatoes on one side and Brussels sprouts</p>
			<p>on the other. Serve vegetables on a separate platter and add sauce in a gravy boat.</p>
		</div>
		<br>
		<br>
		<div id="custard_tart">
			<div>
				<h2>Custard tart</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>22cm/9in shortcrust pastry case</li>
					<li>300ml/10 fl oz full-fat milk</li>
					<li>200ml/7 fl oz double cream</li>
					<li>2 large free-range eggs</li>
					<li>2 free-range egg yolks</li>
					<li>80g/3oz caster sugar</li>
					<li>pinch ground nutmeg</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>1. Preheat the oven to 190C/375/Gas 5.</p>
			<p>2. Bake the pastry case for 15 minutes until firm and browned slightly.</p>
			<p>3. Remove the case and turn the oven down to 160C/325F/Gas 3.</p>
			<p>4. In a medium saucepan, bring the milk and cream nearly to the boil.</p>
			<p>5. Beat the eggs, yolks and sugar together in a bowl.</p>
			<p>6. Pour the hot milk over them and beat gently. Pour the mixture into the</p> 
			<p>pastry case and grate a little nutmeg on top. </p>
			<p>7. Bake for 40 minutes until just set. Remove from the oven and leave to cool before serving.</p>
		</div>
		<br>
		<br>
		<div id="mince_pie">
			<div>
				<h2>Mince pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chicken_curry">
			<div>
				<h2>Chicken curry</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="spagetti_bolognese">
			<div>
				<h2>Spagetti bolognese</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="prawn_salad">
			<div>
				<h2>Prawn salad</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_and_bacon_quiche">
			<div>
				<h2>Cheese and bacon quiche</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="carrot_soup">
			<div>
				<h2>Carrot soup</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="orange_pancakes">
			<div>
				<h2>Orange pancakes</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="shepards_pie">
			<div>
				<h2>Shepards pie</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_toasties">
			<div>
				<h2>Cheese toasties</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chocolate_icecream">
			<div>
				<h2>Chocolate icecream</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="baked_potato">
			<div>
				<h2>Baked potato</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="vegetable_salad">
			<div>
				<h2>Vegetable salad</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="puff_pastries">
			<div>
				<h2>Puff pastries</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="shortbread_biscuits">
			<div>
				<h2>Shortbread biscuits</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="omelette">
			<div>
				<h2>Cheese and onion omelette</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="chicken_kebab">
			<div>
				<h2>Chicken kebabs</h2>
				<h3>Ingredients:</h3>
				<ul>
					<li>2 pounds salmon fillet, cut in half</li>
					<li>3 tablespoons butter</li>
					<li>1 tablespoon dried basil</li>
					<li>1/4 teaspoon salt, or to taste</li>
					<li>1/4 teaspoon ground pepper, or to taste</li>
					<li>1 lemon, sliced</li>
				</ul>
			</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
		<div id="cheese_cake">
		<div>
			<h2>Cheese cake</h2>
			<h3>Ingredients:</h3>
			<ul>
				<li>2 pounds salmon fillet, cut in half</li>
				<li>3 tablespoons butter</li>
				<li>1 tablespoon dried basil</li>
				<li>1/4 teaspoon salt, or to taste</li>
				<li>1/4 teaspoon ground pepper, or to taste</li>
				<li>1 lemon, sliced</li>
			</ul>
		</div>
		</div>
		<div>
			<h3>Method:</h3>
			<p>Preheat oven to 375 degrees F. Place salmon into baking dish, skin down. Top with pieces of butter.</p>
			<img ng-src="img/baked_salmon_with_herbs1.jpg">
			<p>Sprinkle with dried basil, salt and pepper</p>
			<p>Top with lemon slices</p>
			<p>Cover tightly with foil.</p>
			<p>Bake 30-40 minutes, until flaky and pale pink inside (test with fork), serve hot</p>
		</div>
		<br>
		<br>
	</div>
</div>