<div class="container login">
	<div class="header">
		<h1>Login to account</h1>
	<div class="content">
		<div class="row">
			<div class="col-sm-6">
				<form name="loginForm" ng-submit="submitForm()" novalidate>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" class="form-control" ng-model="user.username" required>
						<p ng-show="loginForm.name.$pristine" class="help-block">Your Email address is required</p>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control" ng-model="user.password" required>
						<p ng-show="loginForm.password.$pristine" class="help-block">Your password is required</p>
					</div>

					<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
