<div class="container videos">

		<h1>Video cooking tutorials</h1>

	<iframe width="420" height="345" src="https://www.youtube.com/embed/DQ05_6PpWcE" frameborder="0" allowfullscreen></iframe>
	<iframe width="420" height="345" src="https://www.youtube.com/embed/PnXft7lQNJE" frameborder="0" allowfullscreen></iframe>
	<iframe width="420" height="345" src="https://www.youtube.com/embed/Te8OIEBo3WI" frameborder="0" allowfullscreen></iframe>
	<iframe width="420" height="345" src="https://www.youtube.com/embed/Ml6GGWqRlSA" frameborder="0" allowfullscreen></iframe>
</div>